{% extends "../base.html" %}
{% block title %}Games{% endblock %}
{% block body %}
<div class="grid grid-cols-3">
	<div>
{% if let Some(next_three_games) = next_three_games %}
{% for game in next_three_games %}
<img src="{{game.league.logo}}" width="16" height="16"><p>{{game.league.name}}</p>
<img src="{{game.teams.home.logo}}" width="16" height="16"><p>Home team name : {{game.teams.home.name}}</p>
<img src="{{game.teams.away.logo}}" width="16" height="16"><p>Away team name : {{game.teams.away.name}}</p>
<p> Played in {{game.fixture.date}}
{% endfor %}
{% else %}
<p> No more games for today ... come back tomorow !</p>
{% endif %}
	</div>
	<div>
		<p>foo</p>
	</div>
</div>
{% endblock %}
