{# 10011 #}
{% if let Some(user) = user %}
<div class="my-8 select-none flex">
	<form>
		{% if let Some(fetched_date) = fetched_date %}
		<input name="date" value="{{fetched_date}}" hidden>
		{%endif%}
		<input name="all" value="false" hidden>
		<input name="bets" value="true" hidden>
		<input name="favs" value="true" hidden>
		<input name="potential_bets" value="false" hidden>

	<button class="py-2 px-4 shadow-md no-underline rounded-full bg-gray-400 text-white font-sans font-semibold text-sm border-gray-400 btn-primary hover:text-white hover:bg-gray-500 focus:outline-none active:shadow-none mr-2">	
	{{app_data.translate("M10011_DEFAULT", user.locale_id)?}}
	</button>
	</form>
	<form>
		{% if let Some(fetched_date) = fetched_date %}
		<input name="date" value="{{fetched_date}}" hidden>
		{%endif%}
		<input name="bets" value="false" hidden>
		<input name="favs" value="true" hidden>
		<input name="potential_bets" value="false" hidden>
	<button class="py-2 px-4 shadow-md no-underline rounded-full bg-gray-400 text-white font-sans font-semibold text-sm border-gray-400 btn-primary hover:text-white hover:bg-gray-500 focus:outline-none active:shadow-none mr-2" type="submit">
		{{app_data.translate("M10011_FAVORITE", user.locale_id)?}}
	</button>
	</form>
	<form>
		{% if let Some(fetched_date) = fetched_date %}
		<input name="date" value="{{fetched_date}}" hidden>
		{%endif%}
		<input name="favs" value="false" hidden>
		<input name="bets" value="true" hidden>
		<input name="potential_bets" value="false" hidden>


	<button class="py-2 px-4 shadow-md no-underline rounded-full bg-gray-400 text-white font-sans font-semibold text-sm border-gray-400 btn-primary hover:text-white hover:bg-gray-500 focus:outline-none active:shadow-none mr-2">	
	{{app_data.translate("M10011_BETS", user.locale_id)?}}
	</button>
	</form>
	<form>
		{% if let Some(fetched_date) = fetched_date %}
		<input name="date" value="{{fetched_date}}" hidden>
		{%endif%}
		<input name="bets" value="false" hidden>
		<input name="favs" value="false" hidden>
		<input name="potential_bets" value="true" hidden>
	<button class="py-2 px-4 shadow-md no-underline rounded-full bg-gray-400 text-white font-sans font-semibold text-sm border-gray-400 btn-primary hover:text-white hover:bg-gray-500 focus:outline-none active:shadow-none mr-2" type="submit">
	{{app_data.translate("M10011_POTENTIAL_BETS", user.locale_id)?}}
	</button>
	</form>
	<form>
		{% if let Some(fetched_date) = fetched_date %}
		<input name="date" value="{{fetched_date}}" hidden>
		{%endif%}
		<input name="all" value="true" hidden>

	<button class="py-2 px-4 shadow-md no-underline rounded-full bg-gray-400 text-white font-sans font-semibold text-sm border-gray-400 btn-primary hover:text-white hover:bg-gray-500 focus:outline-none active:shadow-none mr-2">	
	{{app_data.translate("M10011_ALL", user.locale_id)?}}
	</button>
	</form>
</div>
{% endif %}
