{% extends "../base.html" %}
{% block title %}Games{% endblock %}
{% block body %}
{% include "./game_picker_pills.html" %}
<div class="grid grid-cols-3">
	<div class="flex flex-col space-y-4 px-4">
{% if let Some(next_three_games) = next_three_games %}
{{next_three_games|safe}}
{% else %}
<p> No more games for today ... come back tomorow !</p>
{% endif %}
	</div>
	<div class="flex flex-col space-y-4 px-4">
{% if let Some(yesterday_three_games) = yesterday_three_games %}
{{yesterday_three_games|safe}}
{% else %}
<p>Yesterday games aren't available</p>
{% endif %}
	</div>
	<div class="flex flex-col space-y-4 px-4">
{% if let Some(tomorow_three_games) = tomorow_three_games %}
{{tomorow_three_games|safe}}
{% else %}
<p>Tomorow games aren't available</p>
{% endif %}
	</div>
	</div>
	<div>
	</div>
	
	{% if next_three_games.is_none()  && yesterday_three_games.is_none() && tomorow_three_games.is_none() %}
	<p class="mt-5">You don't see any game ? Ensure you added games to your <a href="/profile/leagues" class="font-light text-md text-indigo-600 text-right">favorites</a>, otherwise, you can still have a look at all the games of the day by clicking on the all button.</p>
	{% endif %}
</div>
{% endblock %}
