{# 10010 #}
{% if let Some(user) = user %}
<h2 class="text-xl col-span-full">{{title}}<a class="text-indigo-600" href="/games?date={{fetched_date}}"> ({{app_data.translate("M10010_SEE_MORE", user.locale_id)?}})</a></h2>
{% for game in games %}
{% let diff = (game.fixture.date - now) %}
<div class="max-w-sm bg-white dark:text-white dark:bg-gray-700 rounded-lg border border-gray-700 dark:border-gray-600 shadow-md">
    <div class="flex flex-row justify-between mt-4">
        <img class="ml-2 mb-2 w-8 h-8 rounded-full shadow-lg" src="
        {% if let Some(local_league_logo) = game.league_local_logo %}
	{{local_league_logo}}
	{% else %}
	{{game.league.logo}}
	{% endif %}
	" loading="lazy" alt="{{game.league.name}}"/>
	<div class="mr-3 flex flex-row space-x-2">
	{% match game.fixture.status.short.as_str() %}
		{% when "NS" %}
		{% match game.is_bet %}
		{% when Some with (true) %}
		{% when _ %}
		{% if 2 < diff.num_hours() %}
		{% if 2 < user_role %}
		{% if let Some(odds) = game.odds %}
		<form action="/games/update/status" method="POST">
			<input hidden name="id" value="{{game.fixture.id}}"/> 
			<input hidden name="value" value="true"/> 
			<input hidden name="date" value="{{fetched_date}}"/> 
			<button class="rounded-full w-8 h-8 bg-gradient-to-r from-cyan-500 to-blue-500 shadow-lg focus:ring focus:ring-violet-300" title="Add game to bets ({{odds.home}}/{{odds.draw}}/{{odds.away}})" type="submit">+</button>
		</form>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endmatch %}


		{% when _ %}


	{% endmatch %}
	{% if let Some(is_bet) = game.is_bet %}
	{% if is_bet %}
	{%if 30 < diff.num_minutes() %}
	{% if 2 < user_role %}
		<form action="/games/update/status" method="POST">
			<input hidden name="id" value="{{game.fixture.id}}"/> 
			<input hidden name="value" value="false"/> 
			<input hidden name="date" value="{{fetched_date}}"/> 
	<button class="rounded-full w-8 h-8 bg-gradient-to-r from-orange-500 to-red-500 shadow-lg focus:ring focus:ring-orange-700" title="Drop games from bets">-</button>
		</form>
	{% endif %}
	{% endif %}
	{%if 2 < diff.num_minutes() %}
	<button class="rounded-full w-8 h-8 bg-gradient-to-r from-green-400 to-green-600 shadow-lg focus:ring focus:ring-violet-100" title="Check out game">&#128065;</button>
	{% endif %}
	{% endif %}
	{% endif %}
	</div>
    </div>
    <div class="flex flex-col items-center pb-5">
	    <h5 class="mb-1 text-xl font-medium text-gray-500 dark:text-white py-4 px-2 text-center">{{game.league.name}} {% if let Some(country) = game.league.country %} ({{country}}) {% endif %}</h5>
	    {% if let Some(round) = game.league.round %}
	    <span class="text-sm text-gray-500 dark:text-white">{{round}}</span>
	    {% endif %}
        <div class="flex mt-4 space-x-3 lg:mt-6">
		<img width="48" alt="{{game.teams.home.name}}" src="
		{%if let Some(local_logo) = game.home_local_logo%}
		{{local_logo}}
		{%else%}
		{{game.teams.home.logo}}
		{%endif%}
		" title="{{game.teams.home.name}}" loading="lazy"
		{% if let Some(winner) = game.teams.home.winner %}
		{% if winner %}
		class="ring-offset-2 ring-2 ring-green-500 rounded-xl"
		{% endif %}
		{% endif%}/>
		<img width="48" alt="{{game.teams.away.name}}" src="
		{%if let Some(local_logo) = game.away_local_logo%}
		{{local_logo}}
		{%else%}
		{{game.teams.away.logo}}
		{%endif%}
		" title="{{game.teams.away.name}}" loading="lazy"
		{% if let Some(winner) = game.teams.away.winner %}
		{% if winner %}
		class="ring-offset-2 ring-2 ring-green-500 rounded-xl"
		{% endif %}
		{% endif%}/>
        </div>
		<div class="flex mt-4 space-x-3 lg:mt-6">
			<small> 
				{{game.fixture.status.long}}
				{% match game.fixture.status.short.as_str() %}
				{% when "FT" %}
				{% when "HT" %}
				{% when "AET" %}
				{{app_data.translate("M10010_AET", user.locale_id)?}}
				{% when "PEN" %}
				{{app_data.translate("M10010_ON_PENS", user.locale_id)?}}
				{% when _ %}
				{% if let Some(elapsed) = game.fixture.status.elapsed %}
				: {{elapsed}}'
				{% endif %}

				{% endmatch %}
			</small>
		</div>
		<div>
		{% if 0 < diff.num_minutes() %}
		<small>{{app_data.translate("M10010_STARTS_IN", user.locale_id)?}}
		{% if diff.num_minutes() < 60 && 0 < diff.num_minutes()%}
			{{diff.num_minutes()}}  {{app_data.translate("COMMON_MINUTES", user.locale_id)?}}
		{% else %}
		{{diff.num_hours()}} {{app_data.translate("COMMON_HOURS", user.locale_id)?}} {{app_data.translate("COMMON_AND", user.locale_id)?}} {{diff.num_minutes() % 60}} {{app_data.translate("COMMON_MINUTES", user.locale_id)?}}
		{% endif %}
	     {% else %}
	     {% if game.goals.home.is_some() && game.goals.away.is_some() %}
	     {% if let Some(goals_home) = game.goals.home %}
	     {{goals_home}} -
	     {% endif %}
	     {% if let Some(goals_away) = game.goals.away %}
	     {{goals_away}}
	     
	     {% endif %}
	     {% if let Some(pens) = game.score.penalty %}
		     {%if let Some(pens_home) = pens.home %}
		     ({{pens_home}} -
		     {%endif%}
		     {% if let Some(pens_away) = pens.away %}
		     {{pens_away}})
		     {%endif%}
	     {%endif%}
	     {% else %}
	{{app_data.translate("M10010_RESULT_UNKNOWN", user.locale_id)?}}
	     {% endif %}
	     {% endif %}
		</small>
		</div>
    </div>
</div>
{% endfor %}
{% if let Some(fetched_on) = fetched_on %}
<small class="col-span-full">{{app_data.translate("M10010_LAST_UPDATED", user.locale_id)?}} {{fetched_on}}</small>
{% endif %}
{% endif %}

