<h2 class="text-xl">{{title}}<a class="text-indigo-600" href="/games?date={{fetched_date}}"> (see more)</a></h2>
{% for game in games.games %}
<div class="max-w-sm bg-white rounded-lg border border-gray-700 shadow-md">
    <div class="flex justify-end px-4 pt-4">
    </div>
        <img class="ml-1 mb-2 w-8 h-8 rounded-full shadow-lg" src="{{game.league.logo}}"/>
    <div class="flex flex-col items-center pb-5">
	    <h5 class="mb-1 text-xl font-medium text-gray-500 py-4 px-2 text-center">{{game.league.name}} {% if let Some(country) = game.league.country %} ({{country}}) {% endif %}</h5>
	    {% if let Some(round) = game.league.round %}
	    <span class="text-sm text-gray-500 dark:text-gray-400">{{round}}</span>
	    {% endif %}
        <div class="flex mt-4 space-x-3 lg:mt-6">
		<img width="48" src="{{game.teams.home.logo}}" title="{{game.teams.home.name}}" 
		{% if let Some(winner) = game.teams.home.winner %}
		{% if winner %}
		class="ring-offset-2 ring-2 ring-green-500 rounded-xl"
		{% endif %}
		{% endif%}/>
		<img width="48" src="{{game.teams.away.logo}}" title="{{game.teams.away.name}}"
		{% if let Some(winner) = game.teams.away.winner %}
		{% if winner %}
		class="ring-offset-2 ring-2 ring-green-500 rounded-xl"
		{% endif %}
		{% endif%}/>
        </div>
		<div class="flex mt-4 space-x-3 lg:mt-6">
			<small> 
				{{game.fixture.status.long}}
				{% match game.fixture.status.short.as_str() %}
				{% when "FT" %}
				{% when "HT" %}
				{% when "AET" %}
				after extra time
				{% when _ %}
				{% if let Some(elapsed) = game.fixture.status.elapsed %}
				: {{elapsed}}'
				{% endif %}

				{% endmatch %}
			</small>
		</div>
		<div>
		{% let diff = (game.fixture.date - now) %}
		{% if 0 < diff.num_minutes() %}
		<small>Starts in 
		{% if diff.num_minutes() < 60 && 0 < diff.num_minutes()%}
			{{diff.num_minutes()}} minutes
		{% else %}
		{{diff.num_hours()}} hours and {{diff.num_minutes() % 60}} minutes
		{% endif %}
	     {% else %}
	     {% if game.goals.home.is_some() && game.goals.away.is_some() %}
	     {% if let Some(goals_home) = game.goals.home %}
	     {{goals_home}} -
	     {% endif %}
	     {% if let Some(goals_away) = game.goals.away %}
	     {{goals_away}}
	     
	     {% endif %}
	     {% else %}
	     Result unknown for this game
	     {% endif %}
	     {% endif %}
		</small>
		</div>
    </div>
</div>
{% endfor %}
{% if let Some(fetched_on) = games.fetched_on %}
<small>Last updated on {{fetched_on}}</small>
{% endif %}
