{# 2003 #}
{% extends "users/user.html" %}
{%block rcontent%}
{% if let Some(user) = user %}
<div class="grid grid-cols-2 gap-4">
	<div>
		{% if let Some(leagues) = searched_leagues %}
<h2 class="text-gray-800 text-xl font-semibold mb-15">{{app_data.translate("2003_SEARCH_RESULTS", user.locale_id)?}}</h2>
<p>{{app_data.translate("2003_SEARCH_RESULTS_DESC", user.locale_id)?}}</p>
<hr/>
	{% if !leagues.is_empty() %}
	<div class="overflow-auto  h-64">
		{% for league in leagues %}
	      {% let is_league_in_favorite = fav_leagues_id.contains(league.id) %}
	<div class="flex items-center gap-4 p-4">
        <img class="w-12 h-12" src="
	{% if let Some(local_logo) = league.local_logo %}
	{{local_logo}}
	{% else %}
	{{league.logo}}
	{% endif %}
	" alt="logo" loading="lazy">
      <div class="flex flex-col">
              <strong class="text-sm font-medium">{{league.name}}</strong>
	      <form action="/profile/leagues" method="post">
	      <input name="user_id" value="{{user.id}}" hidden/>
	      <input name="league_id" value="{{league.id}}" hidden/>
	      {% if is_league_in_favorite %}
	      <input name="action" value="remove" hidden/>
	      {% else %}
	      <input name="action" value="add" hidden/>
	      {% endif %}
	      <input name="name" value="{{league.name}}" hidden/>
	      <button type="submit">
	      {% if is_league_in_favorite %}
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="yellow" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
	      {% else %}
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
	      {% endif %}
  <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
</svg>
	     </button>
	     </form>
      </div>
</div>
		{%endfor%}
	</div>
	{% else %}
<p>{{app_data.translate("2003_SEARCH_RESULTS_NONE", user.locale_id)?}}</p>
	{% endif %}
	<a href="/profile/leagues"><button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">{{app_data.translate("COMMON_GO_BACK", user.locale_id)?}}</button></a>
		{% else if let Some(fav_leagues) = fav_leagues %}
		<h2 class="text-gray-800 text-xl font-semibold mb-15">{{app_data.translate("2003_TITLE", user.locale_id)?}}</h2>
		<p>{{app_data.translate("2003_TITLE_DESC", user.locale_id)?}}</p>
<hr/>
	<div class="overflow-auto  h-64">
	      {% if !fav_leagues.is_empty() %}
		{% for league in fav_leagues %}
	<div class="flex items-center gap-4 p-4">
        <img class="w-12 h-12" src="
	{% if let Some(local_logo) = league.local_logo %}
	{{local_logo}}
	{% else %}
	{{league.logo}}
	{% endif %}
	" alt="logo" loading="lazy">
      <div class="flex flex-col">
              <strong class="text-sm font-medium">{{league.name}}</strong>
	      <form action="/profile/leagues" method="post">
	      <input name="user_id" value="{{user.id}}" hidden/>
	      <input name="league_id" value="{{league.id}}" hidden/>
	      <input name="action" value="remove" hidden/>
	      <input name="name" value="{{league.name}}" hidden/>
	      <button type="submit">
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="yellow" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
</svg>
	     </button>
	      </form>
      </div>
	</div>
		{% endfor %}
		{% else %}
		<p>{{app_data.translate("2003_NO_FAV", user.locale_id)?}}</p>
		{% endif %}
	</div>
		{% endif %}
</div>
<div>
	<h2 class="text-gray-800 text-xl font-semibold">{{app_data.translate("2003_SEARCH_ACTION", user.locale_id)?}}</h2>
<p>{{app_data.translate("2003_SEARCH_ACTION_DESC", user.locale_id)?}}</p>
<hr/>
	    <form method="get" action="/profile/leagues">
    <div class="input-group relative flex items-stretch w-full mb-4">
      <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search a league" aria-label="Search" aria-describedby="button-addon2" name="search" minlength="1">
      <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="submit">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
        </svg>
      </button>
    </div>
	    </form>
</div>
</div>
</div>
{% endif %}
{%endblock%}
