{# 2002 #}
{% extends "users/user.html" %}
{% block rcontent %}
{% if let Some(user) = user %}
	<form class="" method="post" action="/profile/edit">
	    <input hidden name="uuid" value="{{user.uuid}}"/>
    	    <div class=" px-3">
      <label for="Login">
	{{app_data.translate("FORM_LOGIN", user.locale_id)?}}
      </label>
      <input name="login" placeholder="{{user.login}}" value="{{user.login}}" readonly>
    </div>
    <div class=" px-3">
      <label for="name">
	{{app_data.translate("FORM_NAME", user.locale_id)?}}
      </label>
      <input name="name" placeholder="{{user.name}}" value="{{user.name}}" minlength="3">
    </div>
    <div class=" px-3">
      <label for="locale_id dark:text-white">
	{{app_data.translate("FORM_LANGUAGE", user.locale_id)?}}
      </label>
	    <select  name="locale_id">
		{% for locale in app_data.get_locales() %}
			<option value="{{locale.id}}"
				{% if locale.id == user.locale_id %}
					selected
				{% endif %}
			>{{locale.long_name}}</option>

		{% endfor %}
	    </select>
    </div>
    <div class=" px-3">
      <label for="password">
	{{app_data.translate("FORM_PASSWORD", user.locale_id)?}}
      </label>
      <input name="password" placeholder="Type your password only if you want to modify it" type="password" value="" minlength="3">
    </div>


    <div class="mt-5 flex flex-row-reverse">
	    <button class="h-10 px-5 m-2 text-red-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800" type="submit">
			{{app_data.translate("FORM_SAVE", user.locale_id)?}}
	    </button>
</form>
{% endif %}
{% endblock %}
