{% extends "base.html" %}
{% macro sideli(href, svgd, label) %}
         <li>
		 <a href="{{href}}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
			 <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="{{svgd}}" clip-rule="evenodd"></path></svg>
			 <span class="flex-1 ml-3 whitespace-nowrap">{{label}}</span>
            </a>
         </li>
{% endmacro %}

{% block title %}Your personnal informations{% endblock %}
{% block body %}
{% if let Some(user) = user %}
<aside class="w-64" aria-label="Sidebar">
   <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <ul class="space-y-2">
	
	      {% call sideli("/profile/edit", "M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z", "Your informations") %}
	      {% call sideli("/profile/leagues", "M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z", "Your favorite leagues") %}
      </ul>
   </div>
</aside>
{% endif %}
{% endblock %}
