{# 2001 #}
{% extends "base.html" %}
{% macro sideli(href, svgd, label) %}
         <li>
		 <a href="{{href}}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg bg-gray-700 2xl:bg-inherit dark:text-white hover:bg-gray-200 dark:hover:bg-gray-600">
			 <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="{{svgd}}" clip-rule="evenodd"></path></svg>
			 <span class="flex-1 ml-3 whitespace-nowrap">{{app_data.translate(label, user.locale_id)?}}</span>
            </a>
         </li>
{% endmacro %}

{% block body %}
<div class="grid grid-rows-8 2xl:grid-rows-none 2xl:grid-cols-4 gap-4">
   <div class="overflow-x-auto 2xl:overflow-y-auto lg:py-4 px-3 rounded">
      <ul class="flex flex-row 2xl:flex-col 2xl:space-y-2 space-x-2 2xl:space-x-0 overflow-x-scroll lg:overflow-auto">
	      {% if let Some(user) = user %}
	
	      {% call sideli("/profile/edit", "M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z", "M2001_SIDE_YOUR_INFOS") %}
	      {% call sideli("/profile/leagues", "M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z", "M2001_SIDE_YOUR_LEAGUES") %}
	      {% call sideli("/profile/clubs", "M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z", "M2001_SIDE_YOUR_CLUBS") %}
	      {% endif %}
      </ul>
</div>
	<div class="2xl:col-span-3 row-span-7 2xl:row-span-none">
	{% block rcontent %}{% endblock %}
	</div>
</div>
    </div>
{% endblock %}
