{% extends "../base.html" %}
{% block title %}Games{% endblock %}
{% block body %}
{% for game in three_next_games %}
<p class="hidden">{{game.id}}</p>
<p>{{game.competition_name}}</p>
<p>Home team name : {{game.home_team_name}}</p>
<p>Away team name : {{game.away_team_name}}</p>
<p>Home team odds : {{game.home_team_odds}}</p>
<p>Away team odds : {{game.away_team_odds}}</p>
<p>Played in : {{game.stadium_name}}, {{game.stadium_city}} ({{game.stadium_country}})</p>
<p>Played on : {{game.played_on}}</p>
{% endfor %}
{% endblock %}
