{% extends "users/user.html" %}
{%block rcontent%}
<div class="grid grid-cols-2 gap-4">
	<div>
		{% if let Some(leagues) = leagues %}
<h2 class="text-gray-800 text-xl font-semibold mb-15">Pick the leagues for the chosen country</h2>
<p>Click on the star to add a league to your favorites, or remove it if it is already in your list</p>
<hr/>
	<div class="overflow-auto  h-64">
		{% for league in leagues %}
	      {% if let Some(user) = user %}
	      {% let is_league_in_favorite = user.fav_leagues.contains(league.league.id) %}
	<div class="flex items-center gap-4 p-4">
        <img class="w-12 h-12" src="{{league.league.logo}}" alt="logo">
      <div class="flex flex-col">
              <strong class="text-sm font-medium">{{league.league.name}}</strong>
	      <form action="/profile/leagues" method="post">
	      {% if let Some(code) = league.country.code %}
	      <input name="code" value="{{code}}" hidden/>
	      {% else %}
	      <input name="code" value="" hidden/>
	      {% endif %}
	      <input name="user_id" value="{{user.id}}" hidden/>
	      <input name="league_id" value="{{league.league.id}}" hidden/>
	      {% if is_league_in_favorite %}
	      <input name="action" value="remove" hidden/>
	      {% else %}
	      <input name="action" value="add" hidden/>
	      {% endif %}
	      <input name="name" value="{{league.league.name}}" hidden/>
	      <button type="submit">
	      {% if is_league_in_favorite %}
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="yellow" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
	      {% else %}
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
	      {% endif %}
  <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
</svg>
	     </button>
	     </form>
      </div>
</div>
	      {% endif %}
		{%endfor%}
	</div>
	<a href="/profile/leagues"><button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Go back</button></a>
		{% else if let Some(fav_leagues) = fav_leagues %}
<h2 class="text-gray-800 text-xl font-semibold mb-15">Your favorite leagues</h2>
<p>Find below your favorite leagues</p>
<hr/>
	<div class="overflow-auto  h-64">
	      {% if let Some(user) = user %}
	      {% if !fav_leagues.is_empty() %}
		{% for league in fav_leagues %}
	<div class="flex items-center gap-4 p-4">
        <img class="w-12 h-12" src="{{league.league.logo}}" alt="logo">
      <div class="flex flex-col">
              <strong class="text-sm font-medium">{{league.league.name}}</strong>
	      <form action="/profile/leagues" method="post">
	      <input name="user_id" value="{{user.id}}" hidden/>
	      <input name="league_id" value="{{league.league.id}}" hidden/>
	      <input name="action" value="remove" hidden/>
	      <input name="name" value="{{league.league.name}}" hidden/>
	      <button type="submit">
	      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="yellow" viewBox="0 0 24 24" stroke="yellow" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
</svg>
	     </button>
	      </form>
      </div>
	</div>
		{% endfor %}
		{% else %}
		You don't have any favorite league so far, add some by using the country picker first.
		{% endif %}
		{%endif%}
	</div>
		{% endif %}
</div>
<div>
<h2 class="text-gray-800 text-xl font-semibold">Pick a country first if you want to add a league to your favorites</h2>
<p>The country world gathers all the competition that aren't linked with a country in a particular, for instance UCL and WC games can be picked if you click on World</p>
<hr/>
<div class="overflow-auto h-64">
{% for country in countries %}
	{% if let Some(code) = country.code %}
	<a href="?code={{code}}">
	{% else %}
	<a href="?code=">
	{% endif %}
<div class="flex items-center gap-4 p-4">
	{% if let Some(flag) = country.flag %}
	<img class="w-12 h-12" src="{{flag}}" alt="flag">
	{% else %}
	<img class="w-12 h-12" src="/assets/img/world.webp" alt="flag">
	{% endif %}
      <div class="flex flex-col">
	      <strong class="text-sm font-medium">{{country.name}}</strong>
      </div>
</div>
</a>
{% endfor %}
</div>
</div>
</div>
{%endblock%}
