{# 2001 #}
{% extends "base.html" %}
{% macro sideli(href, svgd, label) %}
         <li>
		 <a href="{{href}}" class="sideli">
			 <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="{{svgd}}" clip-rule="evenodd"></path></svg>
			 <span class="flex-1 ml-3 whitespace-nowrap">{{app_data.translate(label, user.locale_id)?}}</span>
            </a>
         </li>
{% endmacro %}

{% block body %}
<div class="grid grid-rows-8 2xl:grid-rows-none 2xl:grid-cols-4 gap-4">
   <div class="overflow-x-auto 2xl:overflow-y-auto lg:py-4 px-3 rounded">
      <ul class="flex flex-row 2xl:flex-col 2xl:space-y-2 space-x-2 2xl:space-x-0 overflow-x-scroll lg:overflow-auto">
	      {% if let Some(user) = user %}
	
	      {% call sideli("/admin/users", "M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z", "M30001_TITLE") %}
	      {% call sideli("/admin/bookmakers", "M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2H6zm1 2a1 1 0 000 2h6a1 1 0 100-2H7zm6 7a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-3 3a1 1 0 100 2h.01a1 1 0 100-2H10zm-4 1a1 1 0 011-1h.01a1 1 0 110 2H7a1 1 0 01-1-1zm1-4a1 1 0 100 2h.01a1 1 0 100-2H7zm2 1a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm4-4a1 1 0 100 2h.01a1 1 0 100-2H13zM9 9a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zM7 8a1 1 0 000 2h.01a1 1 0 000-2H7z", "M30002_TITLE") %}
	      {% endif %}
      </ul>
</div>
	<div class="2xl:col-span-3 row-span-7 2xl:row-span-none">
	{% block rcontent %}{% endblock %}
	</div>
</div>
{% endblock %}
