
{% extends "base.html" %}
{% block title %}Cookies approval{% endblock %}
{% block body %}
<p>Cookies are required in order to make this website work.</p>
<p>No personnal information are collected by them, they only serve for a functional purpose and none of the data that is stored in order to make this website work will be disclosed to any external service.</p>
<p>Find out more informations about cookies <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" class="text-indigo-600">here</a></p>
<div class="flex mt-5 space-y-2 lg:space-y-0 lg:space-x-2 flex-col lg:flex-row text-center lg:text-auto">
<a href="/cookies_approved">
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">I approve cookies usage</button>
</a>
<a href="http://google.com">
<button class="bg-white hover:bg-gray-100 text-black font-bold py-2 px-4 rounded-full border-black border-2">I don't want to approve cookies</button>
</a>
</div>

</a>
{% endblock %}
