<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>An error happened :(</title>
		<link rel="stylesheet" href="/styles/tailwind.css"/>
		{% match redirect_url %}
  		{% when Some with (val) %}
		<meta http-equiv="Refresh" content="5; url= {{val}}"/>
  		{% when None %}
		{% endmatch %}
	</head>
	<body class="bg-gray-100">
		{% match redirect_url %}
		{% when Some with (val) %}
		{% when None %}
		<script nonce="2726c7f26c">
			setTimeout(function(){
				history.back();
}, 5000);
		</script>
		{% endmatch %}
			<div class="flex justify-center">
          <div class="w-4/5 py-4 px-8 bg-white shadow-xl rounded-xl my-10">
            <div class="mb-5">
		    <h2 class="text-gray-800 text-3xl font-semibold mb-2">An error happened :(</h2>
              <hr>
            </div>
	    <b class="mt-3 text-bold">{{status_code|escape}}</b>
		<p class="mt-3 mb-3">{{error_desc|escape}}</p>
		<hr/>
		<p class="mt-3">If you aren't being redirected within the next seconds, click on this 
		<a class="underline text-indigo-800" href="
		{% match redirect_url %}
  		{% when Some with (val) %}
		{{val}}
		{% when None %}
		javascript:history.back()
		{% endmatch %}
		"/>link</a>
		in order to force the redirection</p>
		</div>
			</div>
		<div>
	</body>
</html>
