{% if let Some(user) = user %}
<div class="lex flex-col lg:grid lg:grid-cols-3 divide-y divide-blue-200 lg:divide-y-0 space-y-2 lg:space-y-0">
	<div>
{% if let Some(news) = news %}
<h4 class="text-xl mb-4 font-semibold">{{app_data.translate("HOME_LATEST_NEWS", user.locale_id)?}}</h4>
<ul class="text-slate-800 dark:text-white divide-y divide-blue-200">
{% for info in news %}
	<li class="flex flex-row mt-1 mb-1">
		<a href="{{info.href}}">
		{{info.title}}
			</a>
	</li>
{% endfor %}
</ul>
{% endif %}
	</div>
<div class="flex flex-col space-y-4 lg:px-4 hidden lg:block">
	{% if let Some(games_going_on) = games_going_on %}
{{games_going_on|safe}}
{% else %}
<p>{{app_data.translate("M10001_TODAY_NO", user.locale_id)?}}</p>
{% endif %}
</div>
<div class="overflow-x-auto hidden lg:block">
{% if let Some(leaderboard) = leaderboard %}
<h4 class="text-xl mb-4 font-semibold">{{app_data.translate("HOME_TOP3", user.locale_id)?}}</h4>
{% let entries = leaderboard.score_entries.clone() %}
	{% if let Some(season) = leaderboard.season %}
	<p>{{app_data.translate("M40001_SEASON", user.locale_id)?}} : {{season.name}}</p>
	{% endif %}
{% if !entries.is_empty() %}
<table class="border-separate border-spacing-4 whitespace-nowrap">
	<thead>
		<th>{{app_data.translate("M40001_RANKING", user.locale_id)?}}</th>
		<th>{{app_data.translate("M40001_PLAYER", user.locale_id)?}}</th>
		<th>{{app_data.translate("M40001_POINTS", user.locale_id)?}}</th>	
	</thead>
	<tbody>
	{% for (i, entry) in entries.into_iter().enumerate() %}
	<tr>
	{% let ranking = i+1 %}
		<td>
	     {% match ranking %}
	     {% when 1 %}
	     &#129351;
	     {% when 2 %}
	     &#129352;
	     {% when 3 %}
	     &#129353;
	     {% when _ %}
	     {{ranking}}
	     {% endmatch %}</td>
		<td>{{entry.user_name}}</td>
		<td>{{entry.points}}</td>
	</tr>
	{%endfor%}
	</tbody>
</table>
{% else %}
<p>{{app_data.translate("M40001_NO_RESULT", user.locale_id)?}}</p>
{% endif %}
{% endif %}
</div>
{% endif %}
