{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block body %}
<p>Once you will complete this form, your account will need to be approved before being able to use any of the functionnalities of this site</p>
<form method="post" action="signup" class="mt-5">
  <div class="mb-4">
    <label class="block text-md font-light mb-2" for="username">Login</label>
    <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-600 rounded-lg" type="text" name="login" id="login" placeholder="Login" minlength="2" required>
  </div>
  <div class="mb-4">
    <label class="block text-md font-light mb-2" for="username">Name</label>
    <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-600 rounded-lg" type="text" name="name" id="name" placeholder="Username" minlength="3" required>
  </div>
  <div class="mb-4">
    <label class="block text-md font-light mb-2" for="password">Password</label>
    <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-blue-600 rounded-lg" type="password" name="password" id="password" placeholder="Password" minlength="4" required>
  </div>

  <div class="flex mb-5 flex justify-end mr-3">
    <button class="bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline justify-end" type="submit">
      Sign Up
    </button>
  </div>
</form>
{% endblock %}
